.main {
  display: flex;
  flex-direction: column;
}
.note {
  color: darkblue;
  padding-top: 3px;
  font-size: 15px;
}
button {
  color: black;
  background-color: lightblue;
  margin-left: 5px;
}
button:hover {
  color: white;
  background-color: lightblue;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}